<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CySmBGR</key>
  <array>
    <string>CySmA.sc</string>
    <string>CySmBe.sc</string>
    <string>CySmVe.sc</string>
    <string>CySmGhe.sc</string>
    <string>CySmDe.Bulg.sc</string>
    <string>CySmIe.sc</string>
    <string>CySmZhe.Bulg.sc</string>
    <string>CySmZe.sc</string>
    <string>CySmI.Bulg.sc</string>
    <string>CySmShortI.Bulg.sc</string>
    <string>CySmIGrave.Bulg.sc</string>
    <string>CySmKa.Bulg.sc</string>
    <string>CySmEl.Bulg.sc</string>
    <string>CySmEm.sc</string>
    <string>CySmEn.sc</string>
    <string>CySmO.sc</string>
    <string>CySmPe.sc</string>
    <string>CySmEr.sc</string>
    <string>CySmEs.sc</string>
    <string>CySmTe.sc</string>
    <string>CySmU.sc</string>
    <string>CySmEf.sc</string>
    <string>CySmHa.sc</string>
    <string>CySmTse.sc</string>
    <string>CySmChe.sc</string>
    <string>CySmSha.sc</string>
    <string>CySmShcha.sc</string>
    <string>CySmHardSgn.sc</string>
    <string>CySmYeru.sc</string>
    <string>CySmSoftSgn.sc</string>
    <string>CySmE.sc</string>
    <string>CySmYu.sc</string>
    <string>CySmYa.sc</string>
  </array>
  <key>CySmBasic</key>
  <array>
    <string>CySmA</string>
    <string>CySmBe</string>
    <string>CySmVe.Bulg</string>
    <string>CySmGhe.Bulg</string>
    <string>CySmDe.Bulg</string>
    <string>CySmIe</string>
    <string>CySmZhe.Bulg</string>
    <string>CySmZe.Bulg</string>
    <string>CySmI.Bulg</string>
    <string>CySmShortI.Bulg</string>
    <string>CySmIGrave.Bulg</string>
    <string>CySmKa.Bulg</string>
    <string>CySmEl.Bulg</string>
    <string>CySmEm</string>
    <string>CySmEn.Bulg</string>
    <string>CySmO</string>
    <string>CySmPe.Bulg</string>
    <string>CySmEr</string>
    <string>CySmEs</string>
    <string>CySmTe.Bulg</string>
    <string>CySmU</string>
    <string>CySmEf</string>
    <string>CySmHa</string>
    <string>CySmTse.Bulg</string>
    <string>CySmChe.Bulg</string>
    <string>CySmSha.Bulg</string>
    <string>CySmShcha.Bulg</string>
    <string>CySmHardSgn.Bulg</string>
    <string>CySmYeru</string>
    <string>CySmSoftSgn.Bulg</string>
    <string>CySmE</string>
    <string>CySmYu.Bulg</string>
    <string>CySmYa</string>
  </array>
  <key>loclBGR</key>
  <array>
    <string>CyCapDe.Bulg</string>
    <string>CyCapZhe.Bulg</string>
    <string>CyCapI.Bulg</string>
    <string>CyCapShortI.Bulg</string>
    <string>CyCapIGrave.Bulg</string>
    <string>CyCapKa.Bulg</string>
    <string>CyCapEl.Bulg</string>
    <string>CySmVe.Bulg</string>
    <string>CySmGhe.Bulg</string>
    <string>CySmDe.Bulg</string>
    <string>CySmZhe.Bulg</string>
    <string>CySmZe.Bulg</string>
    <string>CySmI.Bulg</string>
    <string>CySmShortI.Bulg</string>
    <string>CySmKa.Bulg</string>
    <string>CySmEl.Bulg</string>
    <string>CySmEn.Bulg</string>
    <string>CySmPe.Bulg</string>
    <string>CySmTe.Bulg</string>
    <string>CySmTse.Bulg</string>
    <string>CySmChe.Bulg</string>
    <string>CySmSha.Bulg</string>
    <string>CySmShcha.Bulg</string>
    <string>CySmHardSgn.Bulg</string>
    <string>CySmSoftSgn.Bulg</string>
    <string>CySmYu.Bulg</string>
    <string>CySmIGrave.Bulg</string>
  </array>
  <key>loclCYR</key>
  <array>
    <string>CyCapDe</string>
    <string>CyCapZhe</string>
    <string>CyCapI</string>
    <string>CyCapShortI</string>
    <string>CyCapIGrave</string>
    <string>CyCapKa</string>
    <string>CyCapEl</string>
    <string>CySmVe</string>
    <string>CySmGhe</string>
    <string>CySmDe</string>
    <string>CySmZhe</string>
    <string>CySmZe</string>
    <string>CySmI</string>
    <string>CySmShortI</string>
    <string>CySmKa</string>
    <string>CySmEl</string>
    <string>CySmEn</string>
    <string>CySmPe</string>
    <string>CySmTe</string>
    <string>CySmTse</string>
    <string>CySmChe</string>
    <string>CySmSha</string>
    <string>CySmShcha</string>
    <string>CySmHardSgn</string>
    <string>CySmSoftSgn</string>
    <string>CySmYu</string>
    <string>CySmIGrave</string>
  </array>
</dict>
</plist>
