<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CySmChe.Bulg</key>
  <string>C_yS_mC_he.B_ulg.glif</string>
  <key>CySmEl.Bulg</key>
  <string>C_yS_mE_l.B_ulg.glif</string>
  <key>CySmGhe.Bulg</key>
  <string>C_yS_mG_he.B_ulg.glif</string>
  <key>CySmVe.Bulg</key>
  <string>C_yS_mV_e.B_ulg.glif</string>
</dict>
</plist>
